div { display: block; margin: 0; padding: 0; border: 0 none; outline: 0; background: transparent; font-weight: normal; font-style: normal; }
#inner { width:100%; margin: 0 auto;}
.hot-event { padding:0 0; position: relative; }

.hot-event .switch-tab { text-align: center; padding: 10px 0; display:none; }

.switch-nav{ display:none;}
.switch-nav .prev	{ z-index:100;cursor:pointer;background:url(../images/lq_pic7.png) no-Repeat; width:66px;	height:66px;  margin-left:65px;position:absolute; left:0px; top:110px;}
.switch-nav .next{ z-index:100;cursor:pointer;background:url(../images/lq_pic8.png) no-Repeat; width:66px;	height:66px;  margin-right:65px;position:absolute; right:0px; top:110px;}


.hot-event .event-item { height:300px; width:100%; position: absolute; z-index: 1; left: 0; top: 0; }
.hot-event .event-item .banner { display: block; width:100%; height:300px; }

.hide-clip { position: absolute!important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); padding: 0!important; border: 0!important; height: 1px!important; line-height: 0!important; width: 1px!important; overflow: hidden; }
a .ico { cursor: pointer; }
.ico { display: inline-block; width: 16px; height: 16px; vertical-align: middle; overflow: hidden; }
