<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>新闻中心_<{$coinfo.title}></title>
<meta name="keywords" content="<{$coinfo.keywords}>">
<meta name="description" content="<{$coinfo.description}>">

<link href="/css/nav.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/bdsstyle.css" rel="stylesheet" type="text/css">
<!-- 加载jQuery1.10.2版本-->
<script type="text/javascript" src="/Js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Js/jquery.nav.js"></script>
<script type="text/javascript" src="/Js/JQ_common.js"></script>
<script type="text/javascript" src="/Js/jquery.jcarousellite.min.js"></script>
<script type="text/javascript" src="/Js/lazyload.js"></script>
<script type="text/javascript" src="/Js/plugins.min.js"></script>
<script type="text/javascript" src="/Js/revolution.min.js"></script>
<script type="text/javascript" src="/Js/jquery.flexslider.js"></script>
</head>
<body>

<{include file="index/header.html"}>
<div id="main" class="bg incontenter">
        <div class="main" style="width: 1055px;">
            <div class="blank1">
            </div>
            <div class="blank2">			
            </div>
            <div class="inside_tit f01">
                <{$newsclass.title}></div>
            <div class="blank">
            </div>			
            <div class="wz">
                您的位置：<a href="<{url c=index a=index}>">首 页</a> > <a href="<{url c=index a=listnews id=$newsclass.id}>#pro"><{$newsclass.title}></a></div>
			<a name="pro"></a>							
            <div class="blank4">			
            </div>			
            <div class="inside_sift">
               <!-- <div class="tit f01">
                    筛选</div>-->			
            </div>			
            <div class="blank4">
            </div>			
            <div class="incontenter">
				<div class="TabContent">
				
				<div class="sidebar">
				<ul><{counter start=-1 skip=1 print=false}>
					<{section name=sec loop=$allnewsclass}>
					<li><a href="<{url c=index a=listnews id=$allnewsclass[sec].id}>#pro" date-id="<{counter}>" class="<{if $smarty.section.sec.first}>hover<{/if}>"><{$allnewsclass[sec].title}></a></li>
					<{/section}>
					<div style="top: 41px;" id="lanPos"></div>
				</ul>
				<script language="javascript">
				var sds=$('.hover').attr('date-id')*40+$('.hover').attr('date-id')*1+'px';
				$('#lanPos').css('top',sds);
				$('.sidebar li a').hover(function(){
					var sd=$(this).attr('date-id')*($(this).height()+1)+'px';
					$('#lanPos').css('top',sd);
					},function(){
						$('#lanPos').css('top',sds);
				});
				</script>
				</div>
				<div class="newslist">
				<{section name=sec loop=$news}>
					<div width="100%" style="font-size:13px; padding:20px; border-bottom:#aaa 1px dotted;">
					<div style="float:left; width:21%"><a href="<{url c=index a=viewnews id=$news[sec].id}>#pro" title="<{$news[sec].title}>"><img onerror="javascript:this.src='/images/no_pro.jpg'" style="width:120px" src="<{if $news[sec].logo eq ''}>/images/no_pro.jpg<{else}><{$news[sec].logo}><{/if}>"></a></div>
					<div style="float:right; width:77%">
						<div style="width:100%;"><strong><a href="<{url c=index a=viewnews id=$news[sec].id}>#pro" title="<{$news[sec].title}>" style="font-size:14px; line-height:40px;"><{$news[sec].title}></a></strong><br>
						<span style="line-height:22px; font-size:13px; color:#707080;"><{$news[sec].content|strip_tags|cntruncate:"120":".."}>[<{$news[sec].addtime|date_format:"%Y-%m-%d %H:%M:%S"}>]</span>
						</div>
					</div>
					<div style="clear:both;"></div>
					</div>
				<{/section}>
				
				<div class="pager"><{$pager}></div>
				
				
				<div style="clear:both; padding:10px;"></div>
				</div>				
				<div style="clear:both; padding:10px;"></div>
				</div>
            </div>
            <div class="blank4">
            </div>
        </div>
</div>

    
<{include file="index/footer.html"}>

</body></html>
