<div id="tb<{$uniqid}>" style="padding:5px">
<form id="newseditfm" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="<{$dataset.id}>" />
<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="#c4d3e1" style="text-align:left; line-height:18px;">
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="10%">标题：</td>
			<td colspan="5" width="90%"><input name="title" type="text" style="width:400px;"  value="<{$dataset.title}>" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入标题."  required="true"></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td class="main" >栏目:</td>
			<td class="main" >			
			<SELECT name='newsclass_id' size='1' required="true">
			<OPTION value="0">选择栏目</OPTION>
			<OPTION value="0" disabled="disabled"> -------- </OPTION>
			<{section name=sec1 loop=$newsclass}>
			<OPTION <{if $dataset.newsclass_id eq $newsclass[sec1].id}>selected="selected"<{/if}> value="<{$newsclass[sec1].id}>"><{$newsclass[sec1].title}></OPTION>
				<{section name=sec2 loop=$newsclass[sec1].children}>
				<OPTION <{if $dataset.newsclass_id eq $newsclass[sec1].children[sec2].id}>selected="selected"<{/if}> value="<{$newsclass[sec1].children[sec2].id}>">&nbsp;&nbsp;|--<{$newsclass[sec1].children[sec2].title}></OPTION>
				<{/section}>
			<{/section}>
			</SELECT>
			</td>
			<td style="line-height:30px;">关键词：</td>
			<td colspan="3"><input name="keywords" type="text" style="width:400px;"  value="<{$dataset.keywords}>"  class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入关键词"></td>
		</tr>		
		<tr bgcolor="#FFFFFF"> 
			<td class="main">作者:</td>
			<td class="main"><input type="text" size="20" name="author" value="<{$dataset.author}>"  class="textbox-text validatebox-text textbox-prompt easyui-validatebox"  placeholder="请输入作者"></td>
			
			<td class="main">来源:</td>
			<td><input type="text" size="20" name="copyfrom" class="textbox-text validatebox-text textbox-prompt easyui-validatebox"  placeholder="请输入来源"  value="<{$dataset.copyfrom}>" ></td>
			
			<td>来源网址：</td>
			<td><input type="text" size="45" class="textbox-text validatebox-text textbox-prompt easyui-validatebox"  placeholder="请输入来源网址"  name="copyfromurl" value="<{$dataset.copyfromurl}>" ></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td class="main">排序：</td>
			<td class="main"><input type="text" name="sortorder" size="20"  class="textbox-text validatebox-text textbox-prompt easyui-validatebox"   value="<{$dataset.sortorder}>" /></td>						 			<td style="line-height:30px;">状态：</td>
			<td><label><input name="status" type="checkbox" class="textbox-prompt" value="1" <{if $dataset.status eq 1}>checked="checked"<{/if}> >激活</label></td>		
			<td class="main">推荐：</td>
			<td class="main"><label><input type="checkbox" name="recommend" class="textbox-prompt"  <{if $dataset.recommend eq 1}>checked="checked"<{/if}> value="1" />设为推荐</label></td>						 
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td class="main">缩略图:</td>
			<td class="main" colspan="5">
			<{if $dataset.logo neq ''}>
				<a target="_blank" href="<{$dataset.logo}>"><img style="width:80px; height:80px;" src="<{$dataset.logo}>?imageView2/1/w/80/h/80" onerror="this.src='/images/none.jpg'" /></a>
			<{/if}>
			<a href="javascript:;" class="a-upload l-btn">
			<input type="file" size="40" name="upfile" accept="image/*" value="">
			</a>
			<span style="color:#FF0000">(未上传缩略图则默认采用内容中的第一张图片做缩略图)</span></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">内容：</td>
			<td colspan="5">
			<script id="newseditEditor" name="content" type="text/plain">
	        <{$dataset.content.content}>
		    </script>
			</td>
		</tr>
		<tr> 
			<td colspan="6" bgcolor="#F4F4F4" style="border-top:#ddd 1px solid;text-align:right; padding-right:25px;">			
			<div>
			<a href="javascript:;" class="l-btn l-btn-small" onclick="newseditsubmitForm()"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">保存</span><span class="l-btn-icon icon-ok">&nbsp;</span></span></a>
			<a href="javascript:;" class="l-btn l-btn-small" onclick="newseditclearForm()"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">关闭</span><span class="l-btn-icon icon-no">&nbsp;</span></span></a>
			</div>
			</td>			
		</tr>
</table>
</form>
</div>

<script>
/***关闭umeditor BOF***/
if(typeof(newseditum)!='undefined'){
		 newseditum.destroy();
}
/***关闭umeditor EOF***/
var newseditum = UM.getEditor('newseditEditor');
var newseditclearForm=function(){
	$('#newseditfm').form('clear');
	$('#rightTabs').tabs('close','编辑新闻');
}
var newseditsubmitForm=function(){
	$('#newseditfm').form('submit', {    
			url:'/news/newsupdate',    
			success: function(data){    
				var data = eval('(' + data + ')');
				
				if(data.code=='200'){
						$.messager.show({
								title:'提示',
								msg:data.msg,
								timeout:3000,
								showType:'slide'
						});				
						if(typeof($("#news"))!='undefined') $("#news").datagrid('reload');
				}else{
						$.messager.alert('提示',data.msg,'warning');
				}
			}
	});
}
</script>
