.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-trash{
	background:url('icons/trash.png') no-repeat center center;
}
.icon-insert{
	background:url('icons/qu.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-reset{
	background:url('icons/reset.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-pre{
	background:url('icons/preweek.png') no-repeat center center;
}
.icon-next{
	background:url('icons/nextweek.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-oked{
	background:url('icons/oked.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}
.icon-daily{
	background:url('icons/daily.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.gif') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/excel.png') no-repeat center center;
}
.icon-import{
	background:url('icons/import.png') no-repeat center center;
}
.icon-task{
	background:url('icons/task.png') no-repeat center center;
}
.icon-file{
	background:url('icons/file.png') no-repeat center center;
}
.icon-talk{
	background:url('icons/talk.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-project{
	background:url('icons/project.png') no-repeat center center;
}
.icon-production{
	background:url('icons/production.png') no-repeat center center;
}
.icon-people{
	background:url('icons/people.png') no-repeat center center;
}
.icon-setting{
	background:url('icons/setting.png') no-repeat center center;
}
.icon-json{
	background:url('icons/page_go.png') no-repeat center center;
}
.icon-total{
	background:url('icons/data_total.png') no-repeat center center;
}

.icon-sitemap{
	background:url('icons/sitemap.png') no-repeat center center;
}
.icon-home{
	background:url('icons/home.png') no-repeat center center;
}
.icon-screen{
	background:url('icons/screen.png') no-repeat center center;
}
.icon-phone{
	background:url('icons/phone.png') no-repeat center center;
}
.icon-wifi{
	background:url('icons/wifi.gif') no-repeat center center;
}
.icon-select{
	background:url('icons/select.png') no-repeat center center;
}
.icon-table{
	background:url('icons/table.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.png') no-repeat center center;
}
.icon-comment{
	background:url('icons/comment.png') no-repeat center center;
}
.icon-logout{
	background:url('icons/logout.png') no-repeat center center;
}
.icon-arrow{
	background:url('icons/arrow.png') no-repeat center center;
}
.icon-coins{
	background:url('icons/coins.png') no-repeat center center;
}
.icon-coinsadd{
	background:url('icons/coinsadd.png') no-repeat center center;
}
.icon-key{
	background:url('icons/key.png') no-repeat center center;
}
.icon-password{
	background:url('icons/password.gif') no-repeat center center;
}
.icon-delete{
	background:url('icons/delete.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}
.icon-gear{
	background:url('icons/gear.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.gif') no-repeat center center;
}
.icon-info{
	background:url('icons/info.png') no-repeat center center;
}
.icon-light{
	background:url('icons/light.png') no-repeat center center;
}
.icon-box{
	background:url('icons/box.gif') no-repeat center center;
}
.icon-pic{
	background:url('icons/pic.png') no-repeat center center;
}
