<div id="tb<?php echo $uniqid;?>" style="padding:5px">
		<table cellspacing="0" cellpadding="0"><tbody><tr>
		<td><SELECT id='cat_id' onchange="goodssearch();" class="textbox-text validatebox-text">
				<OPTION value="0">所有分类</OPTION>
				<OPTION value="0" disabled="disabled"> -------- </OPTION>
				<?php foreach($goods_cat as $k=>$v):?>
				<OPTION value="<?php echo $v['id'];?>"><?php echo $v['title'];?></OPTION>					
				<?php endforeach;?>
			</SELECT>
		</td>
		<td><SELECT id='label_id' onchange="goodssearch();" class="textbox-text validatebox-text">
				<OPTION value="0">所有标签</OPTION>
				<OPTION value="0" disabled="disabled"> -------- </OPTION>
				<?php foreach($label as $k=>$v):?>
				<OPTION value="<?php echo $v['id'];?>"><?php echo $v['name'];?></OPTION>					
				<?php endforeach;?>
			</SELECT>
		</td>
		<td><SELECT id='status' onchange="goodssearch();" class="textbox-text validatebox-text">
				<OPTION value="0">发布状态</OPTION>
				<OPTION value="0" disabled="disabled"> -------- </OPTION>
				<OPTION value="1">置顶</OPTION>
				<OPTION value="2">热卖</OPTION>
				<OPTION value="3">上架</OPTION>
				<OPTION value="4">下架</OPTION>
				<OPTION value="5">精品</OPTION>
			</SELECT>
		</td>
		<td><a href="javascript:;" onclick="goodsadd('添加产品')" class="l-btn l-btn-small l-btn-plain" group="" id=""><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">增加</span><span class="l-btn-icon icon-add">&nbsp;</span></span></a></td><td><div class="datagrid-btn-separator"></div></td>
		<td><a href="javascript:;" onclick="goodsedit('编辑产品');"  class="l-btn l-btn-small l-btn-plain" group="" id=""><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">编辑</span><span class="l-btn-icon icon-edit">&nbsp;</span></span></a></td>
		<td><div class="datagrid-btn-separator"></div></td>
		<td><a href="javascript:;" onclick="goodsrecycle();"  class="l-btn l-btn-small l-btn-plain" group="" id=""><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">回收站</span><span class="l-btn-icon icon-trash">&nbsp;</span></span></a></td>
		<td><div class="datagrid-btn-separator"></div></td>		
		<td><a href="javascript:;" onclick="goodsreload();"  class="l-btn l-btn-small l-btn-plain" group="" id=""><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">重载</span><span class="l-btn-icon icon-reload">&nbsp;</span></span></a></td>
		<td><div class="datagrid-btn-separator"></div></td>
		<td><span style="line-height:30px;">库存小于</span>
				<input  id="stock"  style="width:50px" type="text" class= "easyui-input textbox" > </input></td>
		<td><span style="line-height:30px;">更新日期</span>
                <input name="start_on" style="width:110px" type="text" class="easyui-datebox"> </input>至
                <input name="end_on" style="width:110px" type="text" class="easyui-datebox"> </input>
        </td>
		<td>&nbsp;&nbsp;<input  id="goodskeywords"  style="width:160px" placeholder="ID、产品名、标题" type="text" class= "easyui-input textbox" > </input></td>
		<td><span><a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="goodssearch()">查询</a></span>	</td>
		</tr></tbody></table>
</div>

<div class="con" onselectstart="return false;" style="-moz-user-select:none;">
    <table id="goods"></table>
</div>

<div id="goodsdlg" class="easyui-dialog" style="width:720px; height:460px;" title="信息框" closed="true"></div>

<script>
var goodsedit=function(title){
		if(typeof($("#productsaddfm"))!='undefined'){
			$("#productsaddfm").form('clear');
			$('#rightTabs').tabs('close','添加产品');
		}
		var row = $('#goods').datagrid('getSelected');
		if (row){
				url	=	'/admin/goods/goodsedit?id='+row.id,
				$('#rightTabs').tabs('close',title);
				addTab(title,url);
		}else{
				$.messager.alert('提示','请先选择要编辑的行！','warning');
		}
}

var goodsadd=function(title){
    if(typeof($("#productseditfm"))!='undefined'){
        $("#productseditfm").form('clear');
        $('#rightTabs').tabs('close','编辑产品');
    }
    addTab('添加产品', '/admin/goods/goodsadd');
}
var goodsrecycle=function(){
				var row = $('#goods').datagrid('getSelected');
				if (row){
						$.messager.confirm('提示','确定放回收站吗？',function(r){
							if(r==true){
								$.messager.progress();
								$.post('/admin/goods/goodsrecycle', {id:row.id}, function(data){
									$.messager.progress('close');
									if(data.code=='200'){
											$.messager.show({
													title:'提示',
													msg:data.msg,
													timeout:3000,
													showType:'slide'
											});
											goodsreload();
                                        	if(typeof($("#trashed"))!='undefined') $("#trashed").datagrid('reload');
									}else{
											$.messager.alert('提示',data.msg,'warning');
									}
								},'json');
							}
						});
                }else{
						$.messager.alert('提示','请先选择要扔回收站的行！','warning');
				}
}
var goodsdelete=function(){
				var row = $('#goods').datagrid('getSelected');
				if (row){
                    $.messager.confirm('提示','确定删除吗？',function(r){
                        if(r==true){
                            $.messager.progress();
                            $.post('/admin/goods/goodsdelete', {id:row.id}, function(data){
                                $.messager.progress('close');
								if(data.code=='200'){
										$.messager.show({
												title:'提示',
												msg:data.msg,
												timeout:3000,
												showType:'slide'
										});
										goodsreload();
								}else{
										$.messager.alert('提示',data.msg,'warning');
								}								
                            },'json');
                        }
                    });
                }else{
						$.messager.alert('提示','请先选择要删除的行！','warning');
				}
}
var goodsreload=function(){
                $("#goods").datagrid('reload');
}
var goodssearch=function(){
		var height=	$(window).height()-$(".top").height()-125;//表格高度
		var width = $(window).width()-$("#leftMenu").width()-13;//表格高度
        $("#goods").datagrid({
            title:'商品管理',
            width:width,
            height:height,//高度
            singleSelect:true,//如果为true，则只允许选择一行
            striped:true,//是否显示斑马线效果。
            rownumbers:true,//如果为true，则显示一个行号列。
            pagination:true,//是否显示分页
            pageSize:10,
            pageList:[10,15,20,25,100],
            method:'post',
            sortName:'sortorder',
            sortOrder:'desc',
            url:'/admin/goods/goodsGet?trashed=0',
			queryParams : {keywords:$('#goodskeywords').val(),cat_id:$('#cat_id').val(),label_id:$('#label_id').val(),status:$('#status').val(),start_on:$("input[name='start_on']").val(),end_on:$("input[name='end_on']").val(),stock:$('#stock').val()},
            fitColumns:true,//真正的自动展开/收缩列的大小，以适应网格的宽度，防止水平滚动。
            nowrap:true,//如果为true，则在同一行中显示数据。设置为true可以提高加载性能。 是否换行
            selectOnCheck:false,
            checkOnSelect:true,
			toolbar: '#tb<?php echo $uniqid;?>',
			rowStyler: function(index,row){
					if (row.status=='失效'){
						return 'color:#F00;font-style:italic;';
					}
			},
            columns:[[
                {field:'name',title:'名称',width:'15%'},
				{field:'logo',title:'logo',width:'5%',formatter:function (value,rowData,rowIndex){
					if(value!=''){
						  	return '<img src="'+value+'?imageView2/1/w/60/h/60" style="height:60px;width:60px;">';
					}
				}},
				{field:'currentprice',title:'葡团价',width:'5%',sortable:true},
				{field:'price',title:'市场价',width:'5%',sortable:true},
                {field:'stock',title:'库存',width:'5%',sortable:true},
				{field:'salenum',title:'销量',width:'5%',sortable:true},
				{field:'minquantity',title:'起售数量',width:'5%',sortable:true},
				{field:'rank_money',title:'佣金',width:'5%',sortable:true,formatter:function (value,rowData,rowIndex){
					  	return value>0 ? value+'元' : rowData.rank+'%';
				}},
				{field:'status',title:'状态',width:'10%',formatter:function (value,rowData,rowIndex){
				    	var status = (value==0) ? '<span style="color:#f55">下架</span>' : '上架';
				    	if(rowData.istop==1) status +=' | 置顶';
                        if(rowData.ishot==1) status +=' | 热卖';
                        if(rowData.isnew==1) status +=' | 精品';
					  	return status;
				}},
				{field:'sortorder',title:'排序',width:'5%',sortable:true},				
				{field:'created_at',title:'创建时间',width:'6%',sortable:true},
				{field:'updated_at',title:'更新时间',width:'6%',sortable:true},
            ]],
			onDblClickRow : function(index,field){					
				goodsedit('编辑产品');
			} 
    	});
}
goodssearch();
</script>
