<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><{$coinfo.title}></title>
<meta name="keywords" content="<{$coinfo.keywords}>">
<meta name="description" content="<{$coinfo.description}>">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/bsy/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/bsy/css/style.css" rel='stylesheet' type='text/css' />
<script src="/bsy/js/jquery-1.11.0.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/bsy/js/move-top.js"></script>
<script type="text/javascript" src="/bsy/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
</script>
<!---- start-smoth-scrolling---->
</head>
<body>

<{include file="index/header.html"}>


<!--banner-starts-->
	<div class="banner" id="home">
		<div class="container">
			<section class="slider">
                <div class="flexslider">
                    <ul class="slides">
						<li>
							<div class="banner-top">
							<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle"  src="/bsy/images/b-2.jpg" alt="" />
								<h3>天然环保</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle"  src="/bsy/images/b-1.jpg" alt="" />
								<h3>保温隔热</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</li>
				<li>
					<div class="banner-top">
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle" src="/bsy/images/b-4.jpg" alt="" />
								<h3>绿色节能</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle"  src="/bsy/images/b-3.jpg" alt="" />
								<h3>吸音降噪</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</li>
				<li>
					<div class="banner-top">
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle"  src="/bsy/images/b-6.jpg" alt="" />
								<h3>调节湿度</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						<div class="col-md-6 banner-left">
							<div class="bnr-one">
								<img class="circle"  src="/bsy/images/b-5.jpg" alt="" />
								<h3>柔化光源</h3>
								<a href="#">查看详细</a>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</li>
          </ul>
        </div>
      </section>
		</div>
	</div>
	<!--banner-ends--> 
	<!--FlexSlider-->
	<link rel="stylesheet" href="/bsy/css/flexslider.css" type="text/css" media="screen" />
	<script defer src="/bsy/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</div>
			<!--End-slider-script-->
	<!--welcome-starts--> 
	<div class="welcome">
		<div class="container">
			<div class="welcome-top">
				<h1>壁水域生态墙衣</h1>
				<p>墙面定制新时代.产品特性</p>
				<ul class="main_div">
					<li><p>零甲醛</p><img src="/bsy/images/pt1.png"></li>
					<li><p>无气味</p><img src="/bsy/images/pt2.png"></li>
					<li><p>防开裂</p><img src="/bsy/images/pt3.png"></li>
					<li><p>防潮湿</p><img src="/bsy/images/pt4.png"></li>
					<li><p>防腐蚀</p><img src="/bsy/images/pt5.png"></li>
					<li><p>防发霉</p><img src="/bsy/images/pt6.png"></li>
					<li><p>耐擦洗</p><img src="/bsy/images/pt7.png"></li>
					<li><p>防噪音</p><img src="/bsy/images/pt8.png"></li>					
				</ul>
				
			</div>
			<div class="welcome-bottom">
				<div class="col-md-6 welcome-left">
					<h3>完美的空气净化方式</h3>
					<p>环保墙衣壁材采用天然植物纤维为材料，赋予墙衣背景墙巨大的物理吸附力和离子交换功能，使得生态墙衣可以有效吸附并分解室内游离的甲醛、苯系物、氨、TVOC等的有害物质。</p>
					<p>不仅如此，生态墙衣背景墙在生活中，可以源源不断得释放出被誉为'空气维生素'的负离子，对人体有极佳的保健作用.</p>
					<div class="welcome-one">
						<div class="col-md-6 welcome-one-left">
							<a href="single.html"><img class="border" src="/bsy/images/o-3.png" alt="" /></a>
						</div>
						<div class="col-md-6 welcome-one-right">
							<a href="single.html"><img class="border" src="/bsy/images/w-4.jpg" alt="" /></a>
							<a href="single.html" class="one-top"><img class="border"  src="/bsy/images/w-5.jpg" alt="" /></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 welcome-left">
					<h3>时尚墙面新选择</h3>
					<p>历来室内墙面装饰无外乎壁纸、液体壁纸和乳胶漆，现在生态墙衣的出现为设计师、施工单位和最终用户提供了更多一种选择。</p>
					<p>或许你正在为装修烦恼，甚至梦想自己装饰个性化环境，那么生态墙衣就是你最佳的选择，它会使你在省时、省力、省钱的同时，又灵活、自由、快乐完成居室空间的装扮，为室内墙面穿上一件漂亮的时装.</p>
					<div class="welcome-one">
						<a href="single.html"><img class="border"  style="height:380px" src="/bsy/images/w-2.jpg" alt="" /></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--welcome-ends--> 
	<!--offer-starts-->
	<div class="offer">
		<div class="container">
			<div class="offer-top heading">
				<h2>装修效果</h2>
			</div>
			<div class="offer-bottom">
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border" height="180px"  src="/bsy/images/o-1.jpg" alt="" />
					<h6>客厅</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/o-2.jpg" alt="" />
					<h6>卧室</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/w-6.jpg" alt="" />
					<h6>卧室</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/o-5.jpg" alt="" />
					<h6>客厅</h6></a>					
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="offer-bottom">
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border" height="180px"  src="/bsy/images/w-2.jpg" alt="" />
					<h6>卧室</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/w-4.jpg" alt="" />
					<h6>卧室</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/o-3-big.jpg" alt="" />
					<h6>卧室</h6></a>					
				</div>
				<div class="col-md-3 offer-left">
					<a href="single.html"><img class="border"  height="180px"  src="/bsy/images/w-5.jpg" alt="" />
					<h6>客厅</h6></a>					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--offer-ends--> 
	<!--nature-starts--> 
	<div class="nature">
		<div class="container">
			<div class="nature-top">
				<h3>壁水域生态墙衣</h3>
				<p>适用：内外墙装饰，高级、宾馆、别墅、家装、雕塑山庄、酒吧、娱乐场、卡拉OK厅、美容院、医院、办公场所、健身俱乐部、幼儿园、商铺、餐饮业等注重环保健康、装修档次高、成本低的一些场所。只要遇水不变形的所有物体上都可用墙衣，不会影响墙衣的所有功能.</p>
			</div>
		</div>
	</div>
	<!--nature-ends--> 
	<!--field-starts--> 
	<div class="fields">
		<div class="container">
			<div class="fields-top">
				<div class="col-md-4 fields-left">
					<span class="home"></span>
					<h4>公司简介</h4>					
				</div>
				<div class="col-md-4 fields-left">
					<span class="men"></span>
					<h4>在线留言</h4>					
				</div>
				<div class="col-md-4 fields-left">
					<span class="pen"></span>
					<h4>联系我们</h4>					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--field-end-->        
		
    
<{include file="index/footer.html"}>

</body></html>
