<form id="rolesaddfm" method="post">
<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="#c4d3e1" style="text-align:left; line-height:18px;">
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">权限组：</td>
			<td width="80%"><input name="rolename" type="text" style="width:400px;" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入用户名.."  required="true"></td></tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">可用控制器：</td>
			<td width="80%">
			<{section name=sec loop=$controllers}>
			<label style="width:120px;float:left; cursor:pointer; height:35px; line-height:35px;"><input type="checkbox" name="controllers[]" value="<{$controllers[sec].name}>" /><{$controllers[sec].name}></label>
			<{/section}>
			</td>
		</tr>		
</table>
</form>

<script>
$(function(){
		$('#rolesaddsubmit').click(function(data){			
				$('#rolesaddfm').form('submit', {    
					url:'/system/rolesincrease',    
					success: function(data){    
						var data = eval('(' + data + ')');
						
						if(data.code=='200'){
								$.messager.show({
										title:'提示',
										msg:data.msg,
										timeout:3000,
										showType:'slide'
								});				
								$('#rolesaddfm').form('clear');
								$("#rolesdlg").dialog('close');
								$("#roles").datagrid('reload');
						}else{
								$.messager.alert('提示',data.msg,'warning');
						}
					}    
				});
		})	
});
</script>



				



