<form id="menuseditfm" method="post">
<input type="hidden" name="id" value="<?php echo $mymenu.id;?>" />
<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="#c4d3e1" style="text-align:left; line-height:18px;">
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">上级菜单：</td>
			<td width="80%">
			<SELECT name='up' style="width:153px; height:25px;" size='1'>
				<OPTION value="0">根目录 </OPTION>
				<OPTION value="0" disabled="disabled"> ----------------- </OPTION>
				<?php foreach($dataset as $v){?>
				<OPTION  <?php if($v['id']==$mymenu['up']){echo 'selected="selected"';}?> value="<?php echo $v['id'];?>"><?php echo $v['title'];?></OPTION>
				<?php }?>
			</SELECT>
			</td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">标题：</td>
			<td width="80%"><input name="title" type="text" style="width:400px;" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入标题.."  required="true"  value="<?php echo $mymenu['title'];?>" ></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">链接：</td>
			<td width="80%"><input name="links" type="text" style="width:400px;"  class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入链接.." value="<?php echo $mymenu['links'];?>" ></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">排序：</td>
			<td width="80%"><input name="sortorder" type="text" class="textbox-text validatebox-text textbox-prompt easyui-validatebox" placeholder="请输入排序.." value="<?php echo $mymenu['sortorder'];?>" ></td>
		</tr>
				
</table>
</form>

<script>
$(function(){
		$('#menusupdatesubmit').click(function(data){			
				$('#menuseditfm').form('submit', {    
					url:'/admin/index/menusupdate',    
					success: function(data){    
						var data = eval('(' + data + ')');
						
						
						if(data.code=='200'){
								$.messager.show({
										title:'提示',
										msg:data.msg,
										timeout:3000,
										showType:'slide'
								});				
								$('#menuseditfm').form('clear');
								$("#menusdlg").dialog('close');
								$("#menus").treegrid('reload');
						}else{
								$.messager.alert('提示',data.msg,'warning');
						}
					}    
				});
		})	
});
</script>
