<div id="tb<{$uniqid}>" style="padding:5px">

<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="#c4d3e1" style="text-align:left; line-height:18px;">
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;"  width="20%">订单号：</td>
			<td><{$dataset.order_no}></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">公司名称：</td>
			<td><{$dataset.company}></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">下单时间：</td>
			<td><{$dataset.created_at}></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">支付状态：</td>
			<td><{if $dataset.status eq 400}>已支付<{else}>未支付<{/if}></td>
		</tr>
		<{if $dataset.status eq 400}>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">支付时间：</td>
			<td><{$dataset.paid_at}></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">支付方式：</td>
			<td><{if $dataset.paid_type eq 1}>支付宝<{else}>微信<{/if}></td>
		</tr>
		<tr bgcolor="#FFFFFF"> 
			<td style="line-height:30px;">流水号：</td>
			<td><{$dataset.transactionno}></td>
		</tr>
		<{/if}>
</table>
</div>