<form id="pagerForm" method="post" action="<{url controller=weixin action=userlookup}>" onsubmit="return dwzSearch(this, 'dialog');">
	<input type="hidden" name="pageNum" value="<{$page}>" />
	<input type="hidden" name="numPerPage" value="<{$pageSize}>" />
	<input type="hidden" name="orderField" value="<{$orderField}>" />
	<input type="hidden" name="orderDirection" value="<{$orderDirection}>" />
</form>
<div class="pageHeader">
	<form rel="pagerForm" action="<{url controller=weixin action=userlookup}>" method="post" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>用户名：</label>
				<input type="text" name="name" value="<{$name}>" />
			</li>
			<li>
				<label>卡号/手机号：</label>
				<input type="text" name="phone" value="<{$phone}>" />
			</li>
		</ul>				
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">

	<div id="w_list_print">
	<table class="list" width="98%" targetType="navTab" asc="asc" desc="desc" layoutH="116">
		<thead>	
			<tr>
				<th class="" style="width: 18px; cursor: default;"><div class="gridCol" title=""><input type="checkbox" group="cusids" class="checkboxCtrl"></div></th>
				<th width="50" orderField="name">ID</th>
				<th width="100" orderField="num">名称</th>
				<th width="100">卡号/手机号</th>
				<th width="50">性别</th>
				<th width="100">生日</th>
				<th width="100">积分</th>
				<th width="50">状态</th>	
				<th width="150">注册日期</th>
				<th width="50">操作</th>
			</tr>
		</thead>
		<tbody>
		<{section name=sec1 loop=$dataset}>
			<tr target="sid_user" rel="<{$dataset[sec1].id}>">
				<td style="width: 18px;"><div><input name="cusids" value="<{$dataset[sec1].id}>" type="checkbox"></div></td>
				<td><{$dataset[sec1].id}></td>
				<td><{$dataset[sec1].name}></td>
				<td><{$dataset[sec1].phone}></td>
				<td><{if $dataset[sec1].sex eq 1}>男<{else}>女<{/if}></td>
				<td><{$dataset[sec1].birthday}></td>
				<td><{$dataset[sec1].score}></td>
				<td><{if $dataset[sec1].status eq 1}>活跃<{else}>锁定<{/if}></td>		
				<td><{$dataset[sec1].addtime|date_format:"%Y-%m-%d %H:%m"}></td>
				<td align="center">
					<a class="btnSelect" href="javascript:$.bringBack({phone:'<{$dataset[sec1].phone}>'})" title="查找带回">选择</a>
				</td>
			</tr>
		<{/section}>	
		</tbody>
	</table>
	</div>
	
	<div class="panelBar" >
		<div class="pages">
			<span>显示</span>
			<select name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="20"  <{if $pageSize eq 20}>selected<{/if}> >20</option>
				<option value="50"  <{if $pageSize eq 50}>selected<{/if}> >50</option>
				<option value="100" <{if $pageSize eq 100}>selected<{/if}> >100</option>
				<option value="200" <{if $pageSize eq 200}>selected<{/if}> >200</option>
			</select>
			<span>条，共<{$counter}>条</span>
		</div>		
		<div class="pagination" targetType="navTab" totalCount="<{$counter}>" numPerPage="<{$pageSize}>" pageNumShown="10" currentPage="<{$page}>"></div>
	</div>
</div>
